@media (max-width:768px) {
    .main-wrapper {
        width: 100%;
        max-width: 377px;
        margin: 0 auto;
        
    }
}

@media (min-width:769px) {
    .main-wrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 150px;
    }
    }